// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff;
$black: #000;
$red: #a94442;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #5cb85c;
$blue: #0275d8;
$teal: #5bc0de;
$pink: #ff5b77;
$purple: #613d7c;
// Create grayscale
$gray-lighter: #ebebeb;
$gray-light: #dbe0e6;
$gray: #afb3b6;
$gray-dark: #383838;
$gray-darker: #1f1f1f;
// Reassign color vars to semantic color scheme
$brand-primary: #fa3b38;
$brand-primary-light: #fb6c6a; //lighten 10
$brand-primary-25: #f90a06; //darken 10
$brand-primary-50: #c70805; //darken 20
$brand-primary-75: #950604; //darken 30
$brand-primary-100: #640403; //darken 40

$brand-highlight: #2130a7;
$brand-highlight-50: #152d71;
$brand-highlight-100: #0f2e4c;
$brand-success: #06D046;
$brand-info: #5a8ef8;
$brand-warning: #fab93e;
$brand-danger: #dd0f19;
$brand-inverse: $gray-dark;
$overlay-color: rgba(15, 46, 76, 0.6);
$overlay-color-red: rgba(250, 59, 56, 0.6);
