---
name: Navbar Toggler
previewClass: navbar
hidden: true
---

<button class="navbar-toggler collapsed {{navbar-toggler-class}}" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
	{{#embed "patterns.atom.icon.icon-pattern" icon-name="bars"}}
	{{/embed}}
</button>
