---
name: header
header-class: bg-faded
hidden: true
---

<header class="header {{header-class}}">
	<div class="header_header">
		{{#block "header-header"}}
			<div class="container">
				{{#embed "patterns.molecule.nav.nav-pattern" nav-class="justify-content-end"}}
				{{#content "nav-body"}}

					{{#embed "patterns.atom.dropdown.dropdown-pattern" dropdown-label="Privatkunde" dropdown-button-class="btn-secondary btn-secondary--header d-flex justify-content-center"}}
						{{#content "dropdown-menue"}}
						<a class="dropdown-item" href="#">Privatkunde</a>
						<a class="dropdown-item" href="#">Geschäftskunde</a>
						{{/content}}
					{{/embed}}

					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Anmelden" nav-icon-name="user"}}{{/embed}}
					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Sprache" nav-icon-name="flag"}}{{/embed}}
				{{/content}}
				{{/embed}}
			</div>
		{{/block}}
	</div>
	<div class="header_body">
		{{#block "header-body"}}
			{{#embed "patterns.organism.header._navbar" navbar-class="navbar-toggleable-md navbar-default"}}
				{{#content "navbar"}}
					{{!-- {{#embed "patterns.molecule.nav.nav-pattern" nav-class="navbar-nav mx-lg-2 mx-xl-6"}}
						{{#content "nav-body"}}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">ICs</a>
									<a class="dropdown-item" href="#">Modules</a>
									<a class="dropdown-item" href="#">Drives</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Solutions</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Manifacturing</a>
									<a class="dropdown-item" href="#">Medical</a>
									<a class="dropdown-item" href="#">Laboratory</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Technology</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Architecture</a>
									<a class="dropdown-item" href="#">Std. Technologies</a>
									<a class="dropdown-item" href="#">Adv. Technologies</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Support</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Help Center</a>
									<a class="dropdown-item" href="#">Software</a>
									<a class="dropdown-item" href="#">Eval Kits</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Careers</a>
									<a class="dropdown-item" href="#">Locations</a>
									<a class="dropdown-item" href="#">Quality</a>
									<a class="dropdown-item" href="#">News</a>
									<a class="dropdown-item" href="#">Events</a>
								</div>
							</li>
						{{/content}}
					{{/embed}} --}}
					{{#embed "patterns.organism.search.search-pattern" search-class="search--navbar"}}
						{{#content "search-header"}}
							{{#embed "patterns.molecule.filter.filter-pattern" filter-class=""}}
								{{#content "filter-body"}}
									<div class="filter-row">
										{{#embed "patterns.molecule.form-group.form-group-pattern" form-group-class="mb-0" form-text-type="text" form-text-placeholder="Suchen Sie nach Produktname, Artikelnummer, Kategorie"}}
										{{/embed}}
										{{#embed "patterns.atom.button.button-pattern" button-class="btn-primary btn--icon-left icon--white mt-1 mt-md-0" button-label="Suchen" button-type="submit" button-start-tag="button" button-end-tag="button" button-icon="search" }}
										{{/embed}}
									</div>
								{{/content}}
							{{/embed}}
						{{/content}}
					{{/embed}}


					{{!-- {{#embed "patterns.atom.button.button-pattern" button-class="btn-secondary btn-sm btn--icon-right" button-icon="triangle" button-label="Buy here" button-link="#" button-start-tag="a"}}
					{{/embed}} --}}
				</form>

				{{#embed "patterns.molecule.nav.nav-pattern" nav-class="justify-content-end"}}
				{{#content "nav-body"}}
					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-class="nav-item--vertical" nav-item-label="Merkzettel" nav-icon-name="heart-o"}}{{/embed}}
					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-class="nav-item--vertical" nav-item-label="Warenkorb" nav-icon-name="shopping-basket"}}{{/embed}}
					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-class="nav-item--vertical" nav-item-label="" nav-icon-name="bars"}}{{/embed}}
				{{/content}}
				{{/embed}}

				{{/content}}
			{{/embed}}
		{{/block}}




	</div>
</header>
