---
name: header
header-class: bg-faded
hidden: true
---

<header class="header {{header-class}}">
	<div class="header_header">
		{{#block "header-header"}}
			<div class="container">
				{{#embed "patterns.molecule.nav.nav-pattern" nav-class="justify-content-end"}}
				{{#content "nav-body"}}
					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Anmelden" nav-icon-name="user"}}{{/embed}}
					{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Sprache" nav-icon-name="flag"}}{{/embed}}
				{{/content}}
				{{/embed}}
			</div>
		{{/block}}
	</div>
	<div class="header_body">
		{{#block "header-body"}}
			{{#embed "patterns.organism.header._navbar" navbar-class="navbar-toggleable-md navbar-default"}}
				{{#content "navbar"}}
					{{!-- {{#embed "patterns.molecule.nav.nav-pattern" nav-class="navbar-nav mx-lg-2 mx-xl-6"}}
						{{#content "nav-body"}}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">ICs</a>
									<a class="dropdown-item" href="#">Modules</a>
									<a class="dropdown-item" href="#">Drives</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Solutions</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Manifacturing</a>
									<a class="dropdown-item" href="#">Medical</a>
									<a class="dropdown-item" href="#">Laboratory</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Technology</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Architecture</a>
									<a class="dropdown-item" href="#">Std. Technologies</a>
									<a class="dropdown-item" href="#">Adv. Technologies</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Support</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Help Center</a>
									<a class="dropdown-item" href="#">Software</a>
									<a class="dropdown-item" href="#">Eval Kits</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Careers</a>
									<a class="dropdown-item" href="#">Locations</a>
									<a class="dropdown-item" href="#">Quality</a>
									<a class="dropdown-item" href="#">News</a>
									<a class="dropdown-item" href="#">Events</a>
								</div>
							</li>
						{{/content}}
					{{/embed}} --}}
					<form class="navbar-form" action="/search/">
					{{#embed "patterns.molecule.input-group.input-group-pattern" input-group-class="input-group--type-b mr-1" input-group-icon-right=true}}
						{{#content "input-group-addon"}}
								{{#embed "patterns.atom.icon.icon-pattern" icon-name="search"}}
								{{/embed}}
						{{/content}}
						{{#content "input-group-input"}}
								{{#embed "patterns.atom.form-text.form-text-pattern" form-text-type="search" form-text-placeholder="Search" form-text-name="q"}}
								{{/embed}}
						{{/content}}
					{{/embed}}
					{{!-- {{#embed "patterns.atom.button.button-pattern" button-class="btn-secondary btn-sm btn--icon-right" button-icon="triangle" button-label="Buy here" button-link="#" button-start-tag="a"}}
					{{/embed}} --}}
				</form>
				{{/content}}
			{{/embed}}
		{{/block}}




	</div>
</header>
