---
name: Form Group Pattern
form-text-type: text
form-text-placeholder: Placeholder
form-text-id: exampleID
form-label-label: From Group
form-label-for: exampleID
hidden: true
---

<div class="form-group {{form-group-class}}">
	{{#if form-label-label}}
		{{#embed "patterns.molecule.form-group._form-label-pattern"}}
		{{/embed}}
	{{/if}}
	{{#block "form-group-input"}}
		{{#embed "patterns.atom.form-text.form-text-pattern"}}
		{{/embed}}
	{{/block}}
	{{#embed "patterns.atom.button.button-pattern" button-class="btn-primary btn--icon-left icon--white mt-md-0" button-label="Suchen" button-type="submit" button-start-tag="button" button-end-tag="button" button-icon="search" }}
	{{/embed}}
</div>
