---
name: Default
---

{{#embed "patterns.organism.card-layout.card-layout-pattern"}}
	{{#content "card-layout"}}
		{{#embed "patterns.molecule.card.card-pattern" card-image-path=(data 'images.stage-1')}}
			{{#content "card-header"}}
				Card-Header
			{{/content}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
			{{#content "card-footer"}}
				Card-Footer
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-image-path=(data 'images.stage-1')}}
			{{#content "card-header"}}
				Card-Header
			{{/content}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
			{{#content "card-footer"}}
				Card-Footer
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-image-path=(data 'images.stage-1')}}
			{{#content "card-header"}}
				Card-Header
			{{/content}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
			{{#content "card-footer"}}
				Card-Footer
			{{/content}}
		{{/embed}}
	{{/content}}
{{/embed}}
