---
name: Column
previewClass: col-12
invert: true
notes: <code>.card-columns</code>
---

{{#embed "patterns.organism.card-layout.card-layout-pattern" card-layout-class="card-columns"}}
	{{#content "card-layout"}}
		{{#embed "patterns.molecule.card.card-pattern" card-class="card--type-a" card-image-path=(data 'images.masonry-1')}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-class="card--type-a" card-image-path=(data 'images.masonry-2')}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-class="card--type-a" card-image-path=(data 'images.masonry-3')}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-class="card--type-a" card-image-path=(data 'images.masonry-4')}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-class="card--type-a" card-image-path=(data 'images.masonry-5')}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.card.card-pattern" card-class="card--type-a" card-image-path=(data 'images.masonry-6')}}
			{{#content "card-body"}}
				<h4 class="card-title">
					Card-Title
				</h4>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			{{/content}}
		{{/embed}}
	{{/content}}
{{/embed}}
