.Intro{
   background: var(--color-silver);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    height: 350px;*/
    margin-bottom: 30px;
    padding: 30px 0;
    & h1,
    & h2{
        margin: 0;
        padding: 0;
        color: var(--color-grey);
        font-weight: 600 !important;

    }
    & h1{
      margin: var(--space) 0;
    }
    & span{
        color: color(#383838 alpha(-50%));
    }
    & .logo{
        width: 200px;
        background-color: transparent;
        padding: 25px 25px;
        font-weight: 600;
        visibility: hidden;
        svg{
        }
    }
}
@media screen and (max-width: 960px){
  .Intro {
    & .logo{
      display:none;
    }
  }
}

@media screen and (min-width: 768px){
  .Intro {
    & .logo{
      visibility: visible;
      width: 400px;
    }
  }
}
