---
name: Multiple
---

{{#embed "patterns.atom.form-select.form-select-pattern" form-select-class="" form-select-multiple=true}}
    {{#content "form-select"}}
        <option>Multiple 1</option>
        <option>Multiple 2</option>
        <option>Multiple 3</option>
        <option>Multiple 4</option>
    {{/content}}
{{/embed}}
