---
title: Homepage
notes: Example homepage using template a
layout: template-a
labels:
	- demo
styles:
	- toolkit
---

{{#content "stage"}}
	{{#embed "patterns.organism.stage.stage-pattern" stage-class="" stage-image-path=(data 'images.office-1')}}
		{{#content "stage-image"}}
			{{!-- <video autoplay loop muted class="stage__video running" onplay="this.classList.add('running')">
					<source src="../images/_office/office_stock__01.jpeg">
			</video> --}}
		{{/content}}
		{{#content "stage-header"}}
			{{#embed "patterns.atom.headline.headline-pattern" headline-size="1"}}
				{{#content "headline"}}
					Office Herz ist ein Online Shop für Bürobedarf. Lorem ipsum dolor sit amet.
				{{/content}}
			{{/embed}}
		{{/content}}
		{{#content "stage-footer"}}
			{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Lerne mehr über Office Herz" button-link="#" button-start-tag="a"}}
			{{/embed}}
		{{/content}}
	{{/embed}}
{{/content}}
{{#embed "patterns.atom.section.section-pattern" section-class=" "}}
	{{#content "section-body"}}
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 offset-lg-2">
					{{#embed "patterns.atom.headline.headline-pattern" headline-size="2" headline-class="mb-1 mb-md-2"}}
						{{#content "headline"}}
							Office Herz
						{{/content}}
					{{/embed}}
					{{#embed "patterns.atom.paragraph.paragraph-pattern" paragraph-class="mb-0"}}
						{{#content "paragraph"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						{{/content}}
					{{/embed}}
				</div>
			</div>
		</div>
	{{/content}}
{{/embed}}
{{#embed "patterns.atom.section.section-pattern" section-class=" "}}
	{{#content "section-body"}}
		<div class="container">
			<div class="row">
				<div class="col-12">
					{{#embed "patterns.atom.section-header.section-header-pattern" section-header-class="section-header--align-center mb-1 mb-md-2"}}
						{{#content "section-header-body"}}
							{{#embed "patterns.atom.headline.headline-pattern" headline-size="2"}}
								{{#content "headline"}}
									Hauptkategorien
								{{/content}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 ">
					{{#embed "patterns.molecule.teaser-a.teaser-a-pattern" teaser-a-image-path=(data 'images.office-4')}}
						{{#content "teaser-headline"}}
							Schreiben & Korrigieren
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Sieh alle Kategorien" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 ">
					{{#embed "patterns.molecule.teaser-a.teaser-a-pattern" teaser-a-image-path=(data 'images.office-6')}}
						{{#content "teaser-headline"}}
							Ordner & Registrieren
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Sieh alle Kategorien" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 ">
					{{#embed "patterns.molecule.teaser-a.teaser-a-pattern" teaser-a-image-path=(data 'images.office-5')}}
						{{#content "teaser-headline"}}
							Etiketten
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Sieh alle Kategorien" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 ">
					{{#embed "patterns.molecule.teaser-a.teaser-a-pattern" teaser-a-image-path=(data 'images.office-6')}}
						{{#content "teaser-headline"}}
							Kalender & Terminplaner
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Sieh alle Kategorien" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 ">
					{{#embed "patterns.molecule.teaser-a.teaser-a-pattern" teaser-a-image-path=(data 'images.office-5')}}
						{{#content "teaser-headline"}}
							Papiere & Blöcke
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Sieh alle Kategorien" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						{{/content}}
					{{/embed}}
				</div>
			</div>
		</div>
	{{/content}}
{{/embed}}
{{#embed "patterns.atom.section.section-pattern" section-class="section--bg-brand-primary teaser-d"}}
	{{#content "section-body"}}
		<div class="container">
			<div class="row">
				<div class="col-12">
					{{#embed "patterns.molecule.teaser-d.teaser-d-pattern" teaser-d-image-path=(data 'images.office-2')}}
						{{#content "teaser-headline"}}
							Abonieren sie den Office Herz Newsletter und sicher sie sich den 10Euro Gutschein.
						{{/content}}
						{{!-- {{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						{{/content}} --}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-white btn--icon-right" button-icon="triangle" button-label="Den Newsletter bestellen" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
			</div>
		</div>
	{{/content}}
{{/embed}}
{{#embed "patterns.atom.section.section-pattern"}}
	{{#content "section-body"}}
		<div class="container">
			<div class="row">
				<div class="col-12">
					{{#embed "patterns.atom.section-header.section-header-pattern" section-header-class="section-header--align-center mb-1 mb-md-2"}}
						{{#content "section-header-body"}}
							{{#embed "patterns.atom.headline.headline-pattern" headline-size="2"}}
								{{#content "headline"}}
									Unsere Bestseller
								{{/content}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					{{#embed "patterns.molecule.teaser-b.teaser-b-pattern" teaser-b-class="teaser-b--type-a" teaser-b-image-path=(data 'images.office-3')}}
						{{#content "teaser-headline"}}
							Bleistift 1
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-primary btn--icon-right" button-icon="triangle" button-label="Kaufe Hier" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					{{#embed "patterns.molecule.teaser-b.teaser-b-pattern" teaser-b-class="teaser-b--type-a" teaser-b-image-path=(data 'images.office-3')}}
						{{#content "teaser-headline"}}
							Bleistift 2
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-primary btn--icon-right" button-icon="triangle" button-label="Kaufe Hier" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					{{#embed "patterns.molecule.teaser-b.teaser-b-pattern" teaser-b-class="teaser-b--type-a" teaser-b-image-path=(data 'images.office-3')}}
						{{#content "teaser-headline"}}
							Bleistift 3
						{{/content}}
						{{#content "teaser-body"}}
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						{{/content}}
						{{#content "teaser-footer"}}
							{{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-primary btn--icon-right" button-icon="triangle" button-label="Kaufe Hier" button-start-tag="span"}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
			</div>
		</div>
	{{/content}}
{{/embed}}
{{#embed "patterns.atom.section.section-pattern" section-class=" "}}
	{{#content "section-body"}}
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-6">
					{{#embed "patterns.atom.section-header.section-header-pattern" section-header-class="section-header--align-center mb-2 mb-md-3"}}
						{{#content "section-header-body"}}
							{{#embed "patterns.atom.headline.headline-pattern" headline-size="2"}}
								{{#content "headline"}}
									Upcoming Events
								{{/content}}
							{{/embed}}
						{{/content}}
					{{/embed}}
					{{#embed "patterns.molecule.teaser-c.teaser-c-pattern" teaser-c-class="teaser-c--type-a" teaser-c-image-path=(data 'images.teaser-11')}}
						{{#content "teaser-headline"}}
							Motek 2017
						{{/content}}
						{{#content "teaser-subject"}}
							Oct 9 - Oct 12, 2017
						{{/content}}
						{{#content "teaser-body"}}
							Messe Stuttgart Germany
						{{/content}}
					{{/embed}}
					{{#embed "patterns.molecule.teaser-c.teaser-c-pattern" teaser-c-class="teaser-c--type-a" teaser-c-image-path=(data 'images.teaser-12')}}
						{{#content "teaser-headline"}}
							Motek 2017
						{{/content}}
						{{#content "teaser-subject"}}
							Oct 9 - Oct 12, 2017
						{{/content}}
						{{#content "teaser-body"}}
							Messe Stuttgart Germany
						{{/content}}
					{{/embed}}
					{{#embed "patterns.molecule.teaser-c.teaser-c-pattern" teaser-c-class="teaser-c--type-a" teaser-c-image-path=(data 'images.teaser-4')}}
						{{#content "teaser-headline"}}
							Motek 2017
						{{/content}}
						{{#content "teaser-subject"}}
							Oct 9 - Oct 12, 2017
						{{/content}}
						{{#content "teaser-body"}}
							Messe Stuttgart Germany
						{{/content}}
					{{/embed}}
				</div>
				<div class="col-md-12 col-lg-6">
					{{#embed "patterns.atom.section-header.section-header-pattern" section-header-class="section-header--align-center mb-2 mb-md-3"}}
						{{#content "section-header-body"}}
							{{#embed "patterns.atom.headline.headline-pattern" headline-size="2"}}
								{{#content "headline"}}
									News & Press
								{{/content}}
							{{/embed}}
						{{/content}}
					{{/embed}}
					{{#embed "patterns.molecule.teaser-c.teaser-c-pattern" teaser-c-class="" teaser-c-image-path=(data 'images.teaser-4')}}
						{{#content "teaser-headline"}}
							TMC4670-BI Servo Control
						{{/content}}
						{{#content "teaser-subject"}}
							Aug 4, 2017
						{{/content}}
						{{#content "teaser-body"}}
							The TMC4670 is a single-axis servo motor controller for industrial automation, embedded servo control and other automated equipment applications.
						{{/content}}
					{{/embed}}
					{{#embed "patterns.molecule.teaser-c.teaser-c-pattern" teaser-c-class="" teaser-c-image-path=(data 'images.teaser-4')}}
						{{#content "teaser-headline"}}
							The TMC4670 is a single-axis servo motor controller for industrial automation, embedded servo control and other automated equipment applications.
						{{/content}}
						{{#content "teaser-subject"}}
							Aug 4, 2017
						{{/content}}
						{{#content "teaser-body"}}
							The TMC4670 is a single-axis servo motor controller for industrial automation, embedded servo control and other automated equipment applications.
						{{/content}}
					{{/embed}}
					{{#embed "patterns.molecule.teaser-c.teaser-c-pattern" teaser-c-class="" teaser-c-image-path=(data 'images.teaser-4')}}
						{{#content "teaser-headline"}}
							TMC4670-BI Servo Control
						{{/content}}
						{{#content "teaser-subject"}}
							Aug 4, 2017
						{{/content}}
						{{#content "teaser-body"}}
							The TMC4670 is a single-axis servo motor controller for industrial automation, embedded servo control and other automated equipment applications.
						{{/content}}
					{{/embed}}
				</div>
			</div>
		</div>
	{{/content}}
{{/embed}}
{{#embed "patterns.atom.section.section-pattern" section-class=" "}}
	{{#content "section-body"}}
		<div class="container">
			<div class="row">
				<div class="col-12">
					{{#embed "patterns.atom.section-header.section-header-pattern" section-header-class="section-header--align-center mb-1 mb-md-2"}}
						{{#content "section-header-body"}}
							{{#embed "patterns.atom.headline.headline-pattern" headline-size="2"}}
								{{#content "headline"}}
									Marken im Office Herz Shop
								{{/content}}
							{{/embed}}
						{{/content}}
					{{/embed}}
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					{{#embed "patterns.atom.image.image-pattern" image-class="image--logo-item" image-path=(data 'images.logo-1')}}
					{{/embed}}
				</div>
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					{{#embed "patterns.atom.image.image-pattern" image-class="image--logo-item" image-path=(data 'images.logo-2')}}
					{{/embed}}
				</div>
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					{{#embed "patterns.atom.image.image-pattern" image-class="image--logo-item" image-path=(data 'images.logo-3')}}
					{{/embed}}
				</div>
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					{{#embed "patterns.atom.image.image-pattern" image-class="image--logo-item" image-path=(data 'images.logo-4')}}
					{{/embed}}
				</div>
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					{{#embed "patterns.atom.image.image-pattern" image-class="image--logo-item" image-path=(data 'images.logo-5')}}
					{{/embed}}
				</div>
				<div class="col-6 col-md-4 col-lg-4 col-xl-2">
					{{#embed "patterns.atom.image.image-pattern" image-class="image--logo-item" image-path=(data 'images.logo-1')}}
					{{/embed}}
				</div>
			</div>
		</div>
	{{/content}}
{{/embed}}
