---
name: footer pattern
hidden: true
---

<footer class="footer {{footer-class}}">
	<div class="footer-body pt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-5">
					<a href="#">
						{{#embed "patterns.atom.headline.headline-pattern" headline-size="4" headline-class="mb-2"}}
							{{#content "headline"}}
								Headline 1
							{{/content}}
						{{/embed}}
					</a>
					{{#embed "patterns.molecule.nav.nav-pattern" nav-class="flex-column" }}
					{{#content "nav-body"}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 1" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 2" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 3" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 4" }}{{/embed}}
					{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-5">
					<a href="#">
						{{#embed "patterns.atom.headline.headline-pattern" headline-size="4" headline-class="mb-2"}}
							{{#content "headline"}}
								Headline 2
							{{/content}}
						{{/embed}}
					</a>
					{{#embed "patterns.molecule.nav.nav-pattern" nav-class="flex-column" }}
					{{#content "nav-body"}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 1" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 2" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 3" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 4" }}{{/embed}}
					{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-5">
					<a href="#">
						{{#embed "patterns.atom.headline.headline-pattern" headline-size="4" headline-class="mb-2"}}
							{{#content "headline"}}
								Headline 3
							{{/content}}
						{{/embed}}
					</a>
					{{#embed "patterns.molecule.nav.nav-pattern" nav-class="flex-column" }}
					{{#content "nav-body"}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 1" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 2" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 3" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 4" }}{{/embed}}
					{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-5">
					<a href="#">
						{{#embed "patterns.atom.headline.headline-pattern" headline-size="4" headline-class="mb-2"}}
							{{#content "headline"}}
								Headline 4
							{{/content}}
						{{/embed}}
					</a>
					{{#embed "patterns.molecule.nav.nav-pattern" nav-class="flex-column" }}
					{{#content "nav-body"}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 1" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 2" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 3" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 4" }}{{/embed}}
					{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-5">
					<a href="#">
						{{#embed "patterns.atom.headline.headline-pattern" headline-size="4" headline-class="mb-2"}}
							{{#content "headline"}}
								Headline 5
							{{/content}}
						{{/embed}}
					</a>
					{{#embed "patterns.molecule.nav.nav-pattern" nav-class="flex-column" }}
					{{#content "nav-body"}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 1" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 2" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 3" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 4" }}{{/embed}}
					{{/content}}
					{{/embed}}
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-5">
					<a href="#">
						{{#embed "patterns.atom.headline.headline-pattern" headline-size="4" headline-class="mb-2"}}
							{{#content "headline"}}
								Headline 6
							{{/content}}
						{{/embed}}
					</a>
					{{#embed "patterns.molecule.nav.nav-pattern" nav-class="flex-column" }}
					{{#content "nav-body"}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 1" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 2" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 3" }}{{/embed}}
						{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Link 4" }}{{/embed}}
					{{/content}}
					{{/embed}}
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="social pb-4">
						<span>
							{{#embed "patterns.atom.icon.icon-pattern" icon-name="linkedin"}}
							{{/embed}}
						</span>
						<span>
							{{#embed "patterns.atom.icon.icon-pattern" icon-name="youtube"}}
							{{/embed}}
						</span>
						<span>
							{{#embed "patterns.atom.icon.icon-pattern" icon-name="twitter"}}
							{{/embed}}
						</span>
						<span>
							{{#embed "patterns.atom.icon.icon-pattern" icon-name="facebook"}}
							{{/embed}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-footer py-2 py-sm-1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="copyright">
						<span class="copyright-text pb-1 py-sm-0">
							© 2017 TRINAMIC. All rights reserved
						</span>
						{{#embed "patterns.molecule.nav.nav-pattern"}}
						{{#content "nav-body"}}
							{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Privacy" }}{{/embed}}
							{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Impressum" }}{{/embed}}
							{{#embed "patterns.molecule.nav._nav-item-pattern" nav-item-label="Conditions" }}{{/embed}}
						{{/content}}
						{{/embed}}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
