---
title: Development Tasks
---

<h2>Zum Entwickelen</h2>
<code>gulp --dev</code>
<p>
Eine Beschreibung welche gulp-Tasks zur Verfügung stehen ist auf <a href="https://github.com/cloudfour/drizzle/tree/master/docs#getting-started" target="_blank"> CloudFour </a> zufinden.
</p>

<h2>Zum Veröffentlichen</h2>

<code>gulp build</code>
<p>
Dieses Task kompieliert kompriemiertes CSS.
</p>
