---
title: Literatur
---

<h2>Artikel und weiterführende Informationen</h2>
<p>
Lerne mehr übern den <a href="http://pattern-based.info/" target="_blank"> Pattern-Based Design-Process </a> und dessen Vorteile gegenüber den herkömmlichen Webdesign-Ansatz. <br />
</p>
<p>
Lerne mehr über  <a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank"> Atomic Design </a>. <br />
</p>
<p>
Lerne mehr über die Methodik <a href="https://en.bem.info/" target="_blank"> BEM </a> im <a href="https://medium.com/@madebygraph/enhancing-modular-design-with-bem-139e6b1d5329" target="_blank">Modular Design</a>. <br />
</p>
<p>
Lerne mehr über diese <a href="https://cloudfour.com/thinks/introducing-drizzle/" target="_blank"> Pattern Library</a>. <br />
</p>
<p>
Siehe weitere <a href="http://styleguides.io/" target="_blank"> Pattern Libraries und Styleguides</a>. <br />
</p>
<p>
Höre mehr über  <a href="http://styleguides.io/podcast/" target="_blank"> Styleguides</a>. <br />
</p>
<p>
Höre mehr über  <a href="https://responsivewebdesign.com/podcast/" target="_blank"> Responsive Design</a>. <br />
</p>
