---
name: Progress Pattern
notes: Requires a progress bar as child element.
hidden: true
---

<div class="progress {{progress-class}}">
    {{#embed 'patterns.molecule.progress._progress-bar-pattern' progress-min="50" progress-max="100" progress="50" progress-animated="true"}}
    {{/embed}}
</div>
