---
title: Grid
order: 30
---


<div class="container-fluid">
    <div class="row">
        {{#iterate 12}}
            <div class="col-1 drizzle-Grid-col">
               <div class="drizzle-Grid-inner">
                .col-1
                </div>
            </div>
        {{/iterate}}
    </div>
    <div class="row mt-3">
        {{#iterate 4}}
            <div class="col-3 drizzle-Grid-col">
               <div class="drizzle-Grid-inner">
                .col-3
                </div>
            </div>
        {{/iterate}}
    </div>

    <div class="row mt-3">
        {{#iterate 3}}
            <div class="col-4 drizzle-Grid-col">
               <div class="drizzle-Grid-inner">
                .col-4
                </div>
            </div>
        {{/iterate}}
    </div>

    <div class="row mt-3">
        {{#iterate 2}}
            <div class="col-6 drizzle-Grid-col">
               <div class="drizzle-Grid-inner">
                .col-6
                </div>
            </div>
        {{/iterate}}
    </div>

    <div class="row mt-3">

        <div class="col-4 drizzle-Grid-col">
           <div class="drizzle-Grid-inner">
            .col-4
            </div>
        </div>

        <div class="col-8 drizzle-Grid-col">
           <div class="drizzle-Grid-inner">
            .col-8
            </div>
        </div>

    </div>

    <div class="row mt-3">

        <div class="col-3 drizzle-Grid-col">
           <div class="drizzle-Grid-inner">
            .col-3
            </div>
        </div>

        <div class="col-6 drizzle-Grid-col">
           <div class="drizzle-Grid-inner">
            .col-6
            </div>
        </div>

        <div class="col-3 drizzle-Grid-col">
           <div class="drizzle-Grid-inner">
            .col-3
            </div>
        </div>
    </div>
</div>
