---
title: Moodboard
order: 0
hidden: true
---


{{!--

<div class="grid">
    <div class="grid-item grid-item--width1200 grid-item--height100 mb-5">
        {{#embed "patterns.organism.header.header-pattern" header-class="class"}}{{/embed}}
    </div>

    <div class="grid-item grid-item--width600 grid-item--height400">
        <h1>Headline 1</h1>
        <h2>Headline 2</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, sint, ea. Omnis nulla ducimus labore, inventore, dolor aperiam placeat. Possimus iusto saepe iure mollitia voluptatibus commodi ratione maiores atque ex.
       </p>
    </div>



     <div class="grid-item grid-item--width200 grid-item--height400">
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-primary mb-2" button-label="Do something" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-secondary mb-2" button-label="Do something" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-primary mb-2" button-label="Primary" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-outline-secondary mb-2" button-label="Secondary" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-link my-2" button-label="Just a link" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-link btn--icon-right my-2" button-icon="chevron-right" button-label="Icon" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-primary btn--icon-left mb-2" button-icon="envelope" button-label="Icon" button-link="#" button-start-tag="a"}}{{/embed}}<br>
        {{#embed "patterns.atom.button.button-pattern" button-class="btn-primary btn--icon mb-2" button-icon="chevron-up" button-label="" button-link="#" button-start-tag="a"}}{{/embed}}
        {{#embed "patterns.atom.dropdown.dropdown-pattern" dropdown-class="class" dropdown-label="dropdown" dropdown-button-class="btn-primary"}}{{/embed}}
    </div>

    <div class="grid-item grid-item--width300 grid-item--height100">
       {{#embed "patterns.atom.avatar.avatar-pattern" avatar-class="avatar--md m-1" avatar-text="AW"}}
        {{/embed}}

        {{#embed "patterns.atom.avatar.avatar-pattern" avatar-class="avatar--md m-1" avatar-image-path="/images/placeholder-square.jpg"}}
        {{/embed}}

        {{#embed "patterns.atom.avatar.avatar-pattern" avatar-class="avatar--md m-1" avatar-icon="fa-user"}}
        {{/embed}}
    </div>
    <div class="grid-item grid-item--width300 grid-item--height100">
       <div class="progress">
        {{#embed "patterns.atom.progress-bar.progress-bar-pattern" progress-bar-class="" progress-min="0" progress-max="100" progress="25" progress-animated=true}}{{/embed}}
        </div>
    </div>
    
    <div class="grid-item grid-item--width300 grid-item--height300">
       <div class="d-flex h-100 justify-content-center align-items-center">
            {{#embed "patterns.atom.logo.logo-pattern" logo-class=""}}{{/embed}}
        </div>
    </div>

    <div class="grid-item grid-item--width600 grid-item--height300">
       {{#embed "patterns.organism.form-contact.form-contact-pattern"}}{{/embed}}
    </div>

    <div class="grid-item grid-item--width600 grid-item--height300">
         {{#each (data "icons")}}
            {{#embed "patterns.atom.icon.icon-pattern" icon-class="" icon-name=icon-name}}{{/embed}}
        {{/each}}
    </div>

    <div class="grid-item grid-item--width1200 grid-item--height500">
        {{#embed "patterns.organism.slider.slider-pattern" slider-class="slider--height-md"}}{{/embed}}
    </div>
</div>
--}}
