---
title: Typography
order: 20
---

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">

            <h1>Typography? It's Easy If You Do It Smart</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
            <h2>How To Win Clients And Influence Markets with Typography</h2>
            <p>
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.
            </p>
            <h3>Don't Just Sit There! Start Typography</h3>
            <p>
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.
            </p>
        </div>

        <div class="col-sm-6">
            <h1>Headline 1</h1>
            <h2>Headline 2</h2>
            <h3>Headline 3</h3>
            <h4>Headline 4</h4>
            <h5>Headline 5</h5>
            <h6>Headline 6</h6>

            <hr>

            <p class="font-weight-bold">Bold text. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.</p>
            <p class="font-weight-normal">Normal weight text.Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.</p>
            <p class="font-italic">Italic text. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.</p>

            <hr>

            <p class="font-size-small">Small text. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.</p>
            <p class="text-muted">Muted text. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.</p>

            <hr>

            <h1 class="display-1">Display 1</h1>
            <h2 class="display-2">Display 2</h2>
            <h3 class="display-3">Display 3</h3>
            <h4 class="display-4">Display 4</h4>
        </div>

    </div>

     <div class="row my-3">
        <div class="col-md-4">
            <h4>Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum id a, adipisci quam praesentium odit.</p>
        </div>
        <div class="col-md-4">
            <h4>Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum id a, adipisci quam praesentium odit.</p>
        </div>
        <div class="col-md-4">
            <h4>Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum id a, adipisci quam praesentium odit.</p>
        </div>
    </div>

    <div class="row row--no-gutter">
        <div class="col-sm-6">
            {{#embed "patterns.atom.section.section-pattern" section-class="section--bg-brand-primary d-flex flex-column justify-content-center my-5 p-5"}}
                {{#content "section-body"}}
                    <h1 class="display-3">Text on colored Background</h1>
                    <p> Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.</p>
                    <p class="font-size-small"> Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.</p>
                {{/content}}
            {{/embed}}
        </div>
        <div class="col-sm-6">
            {{#embed "patterns.atom.section.section-pattern" section-class="section--bg-brand-highlight d-flex flex-column justify-content-center my-5 p-5"}}
                {{#content "section-body"}}
                    <h1 class="display-3">Text on colored Background</h1>
                    <p> Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.</p>
                    <p class="font-size-small"> Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.</p>
                {{/content}}
            {{/embed}}
        </div>
    </div>



</div>
