---
name: Default
---

{{#embed "patterns.organism.article.article-pattern"}}
	{{#content "article-headline"}}
		Trinamic launches series of optical encoders optimized for stepper motors
	{{/content}}
	{{#content "article-body"}}
		<section>
			{{#embed "patterns.atom.paragraph.paragraph-pattern" paragraph-class="lead"}}
				{{#content "paragraph"}}
					Trinamic Motion Control presents a new family of optical rotary encoders optimized for stepper motor servos. Driven by a general trend towards energy and cost efficient stepper motor servos replacing DC or BLDC drives, which rely on a gearbox to supply sufficient torque at low speed, where stepper motors have their strength.
				{{/content}}
			{{/embed}}
		</section>
		<section>
			{{#embed "patterns.atom.image.image-pattern" image-class="image--float-left" image-path=(data 'images.teaser-6')}}
			{{/embed}}
			{{#embed "patterns.atom.paragraph.paragraph-pattern"}}
				{{#content "paragraph"}}
				Stepper motor servos with field-oriented control are more and more popular. Increased efficiency, precision and dependability drive this trend. For perfect control, stepper motor servos require high-resolution encoders. In the best case, the encoder resolution is a multiple of the motor's full-step resolution. This avoids interferences between motor torque ripple and encoder readings. The resolution of the encoder translates directly to the position accuracy. The encoders are designed to be mounted on stepper motors with a flange size from NEMA 11 (20 mm) to NEMA36 (86 mm). Using reflective code wheels they allow for small and low profile housings. TMCS-20 comes with a resolution of 32768 and a shaft diameter of 4 mm for small motors down to NEMA 11. TMCS-28 is available for shaft diameters of 5 mm and 6.35 mm and TMCS-40 for shaft diameters of 6.35 mm. The latter two have a resolution of 40000 increments per revolution. All Encoder types are shipped with a code wheel, mounting kit, and cable. A starter kit with mounting kit and code wheels for all available axis diameters can be ordered. The encoders and starter kits are available from July 1st, 2017. Trinamic has pioneered closed-loop stepper motors for embedded motor control with its motion control IC TMC4361. The company is now building up a full line of closed-loop motion control ICs including TMC4670, a chip providing fast, hardware field-oriented control for both 2-phase and 3-phase motors.
				{{/content}}
			{{/embed}}
		</section>
		<section>
			{{#embed "patterns.atom.headline.headline-pattern" headline-size="4"}}
				{{#content "headline"}}
					Long testing headline
				{{/content}}
			{{/embed}}
			{{#embed "patterns.atom.paragraph.paragraph-pattern"}}
				{{#content "paragraph"}}
				Stepper motor servos with field-oriented control are more and more popular. Increased efficiency, precision and dependability drive this trend. For perfect control, stepper motor servos require high-resolution encoders. In the best case, the encoder resolution is a multiple of the motor's full-step resolution. This avoids interferences between motor torque ripple and encoder readings. The resolution of the encoder translates directly to the position accuracy. The encoders are designed to be mounted on stepper motors with a flange size from NEMA 11 (20 mm) to NEMA36 (86 mm). Using reflective code wheels they allow for small and low profile housings. TMCS-20 comes with a resolution of 32768 and a shaft diameter of 4 mm for small motors down to NEMA 11. TMCS-28 is available for shaft diameters of 5 mm and 6.35 mm and TMCS-40 for shaft diameters of 6.35 mm. The latter two have a resolution of 40000 increments per revolution. All Encoder types are shipped with a code wheel, mounting kit, and cable. A starter kit with mounting kit and code wheels for all available axis diameters can be ordered. The encoders and starter kits are available from July 1st, 2017. Trinamic has pioneered closed-loop stepper motors for embedded motor control with its motion control IC TMC4361. The company is now building up a full line of closed-loop motion control ICs including TMC4670, a chip providing fast, hardware field-oriented control for both 2-phase and 3-phase motors.
				{{/content}}
			{{/embed}}
			{{#embed "patterns.atom.image.image-pattern" image-class="image--full" image-path=(data 'images.teaser-14')}}
			{{/embed}}
		</section>
		<section>
			{{#embed "patterns.atom.headline.headline-pattern" headline-size="4"}}
				{{#content "headline"}}
					Long testing headline
				{{/content}}
			{{/embed}}
			{{#embed "patterns.atom.paragraph.paragraph-pattern"}}
				{{#content "paragraph"}}
				Stepper motor servos with field-oriented control are more and more popular. Increased efficiency, precision and dependability drive this trend. For perfect control, stepper motor servos require high-resolution encoders. In the best case, the encoder resolution is a multiple of the motor's full-step resolution. This avoids interferences between motor torque ripple and encoder readings. The resolution of the encoder translates directly to the position accuracy. The encoders are designed to be mounted on stepper motors with a flange size from NEMA 11 (20 mm) to NEMA36 (86 mm). Using reflective code wheels they allow for small and low profile housings. TMCS-20 comes with a resolution of 32768 and a shaft diameter of 4 mm for small motors down to NEMA 11. TMCS-28 is available for shaft diameters of 5 mm and 6.35 mm and TMCS-40 for shaft diameters of 6.35 mm. The latter two have a resolution of 40000 increments per revolution. All Encoder types are shipped with a code wheel, mounting kit, and cable. A starter kit with mounting kit and code wheels for all available axis diameters can be ordered. The encoders and starter kits are available from July 1st, 2017. Trinamic has pioneered closed-loop stepper motors for embedded motor control with its motion control IC TMC4361. The company is now building up a full line of closed-loop motion control ICs including TMC4670, a chip providing fast, hardware field-oriented control for both 2-phase and 3-phase motors.
				{{/content}}
			{{/embed}}
		<section>
	{{/content}}
{{/embed}}
