.katana{
	.blockquote {
		margin-bottom: 0;
		padding: 0;
		border: none;
		font-size: $font-size-base;
		font-style: italic;

		cite {
			display: block;
			font-size: $font-size-xs;
			font-style: normal;
			color: $gray-dark;
			margin-top: ($spacer * .5);
		}
	}
}
