.katana {
	.form-radio {
		input[type="radio"] {
			display: none;
		}

		input[type="radio"] + label {
			font-weight: $font-weight-semibold;
			line-height: $font-size-base;
			cursor: pointer;
			display: flex;
			align-items: center;
		}

		input[type="radio"] + label span.check-control {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			margin: 0 ($spacer * .75) 0 0;
			vertical-align: middle;
			background: $white;
			cursor: pointer;
			border-radius: 50%;
			border: 1px solid $gray-light;
		}

		input[type="radio"]:checked + label span.check-control {
			background: $brand-primary;
			border: 6px solid $gray-lighter;
		}
	}
}
