.icon {
	width: 20px;
	height: 20px;

	&.icon--xs {
		width: 12px;
		height: 12px;
		margin-top: 5px;
	}

	&.icon--sm {
		width: 18px;
		height: 18px;
		margin-top: 5px;
	}

	&.icon--md {
		width: 25px;
		height: 25px;
	}

	&.icon--lg {
		width: 40px;
		height: 40px;
	}

	&.icon--xl {
		width: 55px;
		height: 55px;
	}

	&.icon--xxl {
		width: 80px;
		height: 80px;
	}

	&.icon--white {
		fill: $white;
	}

	&.icon--gray {
		fill: $gray;
	}

	&.icon--gray-light {
		fill: $gray-light;
	}

	&.icon--gray-lighter {
		fill: $gray-lighter;
	}

	&.icon--brand-primary{
		fill: $brand-primary;
	}
}
