.logo{

  &.logo--invert{
    svg{
    fill: $gray-darker;

      g#svg_g_1 {
        fill: $gray-darker;
      }

      g#svg_g_2 {
        fill: $gray-darker;
      }

      g#svg_g_3 {
        fill: $gray-darker;
      }
    }
  }
}
