@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');
@use postcss-cssnext;
:root {
    /* Common properties */
    --color-aqua: #7fdbff;
    --color-blue: #0074d9;
    --color-lime: #01ff70;
    --color-navy: #001f3f;
    --color-teal: #39cccc;
    --color-olive: #3d9970;
    --color-green: #2ecc40;
    --color-red: #ff4136;
    --color-maroon: #85144b;
    --color-orange: #ff851b;
    --color-purple: #b10dc9;
    --color-yellow: #ffdc00;
    --color-fuchsia: #f012be;
    --color-gray: #aaa;
    --color-white: #fff;
    --color-black: #000;
    --color-silver: #f1f1f1;
    /*  --color-brand: rgb(83, 154, 163);*/
    --color-brand: #000;
    --color-client: #fa3b38;
    --color-client-highlight: #2130a7;
    --monospace: "Source Code Pro";
    --space: 1rem;
    --color-grey: #afb3b6;
    --color-grey-light: #dbe0e6;
    --color-grey-lighter: #ebebeb;
    --color-grey-dark: #383838;
    --color-grey-darker: #1f1f1f;
    /* SUIT component properties */
    --Arrange-gutter-size: calc(var(--space) / 2);

    --Font-family-sans-serif: 'Roboto', sans-serif;
    --Font-weight-bold: 700;
    --Font-weight-normal: 300;
}

@custom-media --sm-viewport (max-width: 30em);
@custom-media --md-viewport (min-width: 40em);
@custom-media --lg-viewport (min-width: 60em);
@custom-selector :--enter :matches(:hover,
 :focus,
 :active);
@custom-selector :--heading h1,
h2,
h3,
h4,
h5,
h6;
