---
name: Cite cloud item
hidden: true
---

<div class="cite-cloud-item {{cite-cloud-item-class}}">
	<blockquote>
		{{#block "cite-cloud-item-body"}}
			Cite cloud item body
		{{/block}}
		<cite>
			{{#block "cite-cloud-item-footer"}}
				Cite cloud item footer
			{{/block}}
		</cite>
	</blockquote>
</div>
