---
name: Default
previewClass: col-12
---

{{#embed "patterns.molecule.cite-cloud.cite-cloud-pattern"}}
	{{#content "cite-cloud-body"}}
		{{#embed "patterns.molecule.cite-cloud._cite-cloud-item-pattern"}}
			{{#content "cite-cloud-item-body"}}
				When printing at low speeds the whole thing vibrates and makes noise.
			{{/content}}
			{{#content "cite-cloud-item-footer"}}
				the_digital_dentist – <a href="#">RepRap Forum</a>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.cite-cloud._cite-cloud-item-pattern"}}
			{{#content "cite-cloud-item-body"}}
				Every decent sized stepper I've seen always makes noise.
			{{/content}}
			{{#content "cite-cloud-item-footer"}}
				cdru – <a href="#">RepRap Forum</a>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.cite-cloud._cite-cloud-item-pattern"}}
			{{#content "cite-cloud-item-body"}}
				I hadn't anticipated that they would be so noisy, is this normal?
			{{/content}}
			{{#content "cite-cloud-item-footer"}}
				plankton – <a href="#">RepRap Forum</a>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.cite-cloud._cite-cloud-item-pattern"}}
			{{#content "cite-cloud-item-body"}}
				3D printers are loud to the point it make them hard to be in the same room with while doing anything productive.
			{{/content}}
			{{#content "cite-cloud-item-footer"}}
				Trexation – <a href="#">RepRap Forum</a>
			{{/content}}
		{{/embed}}
		{{#embed "patterns.molecule.cite-cloud._cite-cloud-item-pattern"}}
			{{#content "cite-cloud-item-body"}}
				I already managed to reduce the noice by finetuning stepper currents though according to my neighbour it's still to loud.
			{{/content}}
			{{#content "cite-cloud-item-footer"}}
				BackEMF – <a href="#">RepRap Forum</a>
			{{/content}}
		{{/embed}}
	{{/content}}
{{/embed}}
