---
name: tab pane
hidden: true
---

<div role="tabpanel" class="tab-pane fade in {{#if tab-pane-active}}active show{{/if}} {{tab-pane-class}} " id="{{tab-pane-id}}">
	{{#block "tab-pane-body"}}
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
	{{/block}}
</div>
