$card-spacer-x: 1rem;
$card-spacer-y: 1rem;
$card-border-width: 1px;
$card-border-radius: $border-radius;
$card-border-color: rgba($black,.125) !default;
$card-columns-count: 3 !default;
$card-columns-margin: $card-spacer-y !default;

.card-layout {
	&.card-columns {
		.card{
			margin-bottom: 0.25rem;
			display: inline-block;

			&.card--type-a{
				.card-block{
					display: none;
				}
			}
		}
		@include media-breakpoint-only(xs) {
			column-count: 3;
			column-gap: 0.25rem;
		}
		@include media-breakpoint-only(sm) {
			column-count: 3;
		}
		@include media-breakpoint-only(md) {
			column-count: 3;
			column-gap: 1rem;
		}
		@include media-breakpoint-only(lg) {
			column-count: 4;
		}
		@include media-breakpoint-only(xl) {
			column-count: 4;
		}
	}
}

@include media-breakpoint-up(md){

	.card-layout {
		&.card-columns {
			.card{
				margin-bottom: 1rem;

				&.card--type-a{
					.card-block{
						display: inline-block;
					}
				}
			}
		}
	}
}
