---
name: search pattern
hidden: true
---

<div class="search {{search-class}}">
	<div class="search-header">
		{{#block "search-header"}}
		{{/block}}
	</div>
		<div class="search-body">
		{{#block "search-body"}}
		{{/block}}
	</div>
	<div class="search-footer">
		{{#block "search-footer"}}
		{{/block}}
	</div>
</div>
