---
name: Video pattern
hidden: true
---

<div class="video {{video-class}}">
	<div class="video-body">
		{{#block "video-body"}}
			<iframe src="{{video-path}}" frameborder="0" allowfullscreen="1"></iframe>
		{{/block}}
	</div>
</div>
