.filter {
	width: 100%;
	background: transparent;
	padding: ($spacer * 2);

	.filter-row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		.form-group {
			width: 100%;
		}
	}
	&.filter--navbar{
		padding-left: 0;
	}
}

@include media-breakpoint-up(md) {
	.filter {
		.filter-row {
			justify-content: flex-start;
			align-items: flex-end;
			flex-wrap: nowrap;

			.form-group {
				width: 100%;
			}
		}
	}
}
