.katana {
	.input-group {
		border: 1px solid $gray-light;
		border-radius: 4px;
		background: $white;

		:-moz-placeholder {
			color: $gray-light;
		}

		:-ms-input-placeholder {
			color: $gray-light;
		}

		::-moz-placeholder {
			color: $gray-light;
		}

		::-webkit-input-placeholder {
			color: $gray-light;
		}

		&:hover {
			border-color: $brand-primary-light;

			.input-group-addon {
				color: $brand-primary-light;

				svg {
					fill: $brand-primary-light;
				}
			}
		}

		&:active,
		&:focus {
			border-color: $brand-primary-light;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
		}

		.form-text {
			&.form-control {
				border: none;
				border-radius: 0;
				background: transparent;
				border: none;
				border-radius: 4px;
				color: $gray;

				&:focus {
					border: none;
					box-shadow: none;
					color: $brand-primary-75;
				}
			}
		}

		.input-group-addon {
			background: transparent;
			border: none;
			padding-right: 0;

			&.active,
			&:focus {
				border: none;
				box-shadow: none;
			}

			svg {
				fill: $gray-light;
				width: 16px;
				height: 16px;
			}
		}

		&.input-group--type-a {
			.input-group-addon {
				border: none;
				padding-left: 0;
				padding-right: 0.75rem;
			}
		}

		&.input-group--type-b {
			background: transparent;

			.form-text {
				&.form-control {
					color: $gray-light;

					&:focus {
						color: $gray-light;
					}
				}
			}
		}
	}
}
