.list-group {
	&.list-group--type-a {
		display: inline-block;

		.list-group-item {
			display: inline-block;
			margin: 0 0 5px 5px;
			padding: 0;
			border: none;

			span {
				display: inline-block;
				background-color: #e8e8e8;
				border-radius: 4px;
				padding: 6px 12px;
			}
		}
	}
}
