---
name: Map pattern
hidden: true
---

<div class="map {{map-class}}">
  <iframe src="{{map-path}}" width="{{width}}" height="{{height}}" margin-width="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
